# Backend Environment Variables
NODE_ENV=development
PORT=4000
JWT_SECRET=changeme-super-secret
IP_GEOLOCATION_API_KEY=your_ip_geolocation_api_key
UPSTASH_REDIS_URL=redis://:password@host:port
COOKIE_DOMAIN=localhost


58af5fbd769a7fb0e1cd08786364cc5109f683493daaa51fcdc271bf